# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/


# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
.pytest_cache/ 

# Dataset Specific
*.p
*.csv
*.json


# Exception for test files
!test_embeddings.p